{% from 'form_helper.html' import mydefaultform %}
{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %} 
<form action="" method="post" novalidate class="mt-5">
    {{ mydefaultform(form.username, 'Username', autofocus=true, autocomplete='off') }}
    {{ mydefaultform(form.password, 'Password') }}
    

<div class="text-center">
    <input type="submit" value="Login" class="btn btn-primary">
</div>
{{ form.csrf_token }}

</form>
<hr>
<p>Have not registered? <a href="{{ url_for('index') }}">Register here</a>.</p>
{% endblock %}
